Flask
Gunicorn
SQLAlchemy
flask_sqlalchemy
ultralytics
tensorflow
numpy
psycopg2
flask_cors
IPython
torch>=1.7
supervision==0.1.0
tensorflow_addons
opencv_python
loguru
scikit-image
tqdm
torchvision>=0.10.0
Pillow
thop
ninja
tabulate
tensorboard
lap
motmetrics
filterpy
h5py
onnx==1.9.0
onnxruntime==1.8.0
onnx-simplifier==0.3.5
cmake
onemetric